    <div id="wrapper">
      <div id="header">
        <a id="logo" title="手工客" href=""><img src="assets/logo.png" alt="logo"/></a>
      </div><!-- header -->
      <div id="honeycomb">
      </div><!-- honeycomb -->
      <div id="indexContent">
        <table id="introduction">
          <tr>
            <td class="value" id="discover">
              <p class="title"><img src="assets/discover.jpg" alt="discover" width="36" height="38" /><span>发现</span></p>
              <p class="subtite">发现手工之美</p>
              <p class="explain">透过原创的作平，博文···发现那些素未谋面但却彼此欣赏的人，然后一起分享和发现更多的手工之美！</p>
            </td>
            <td class="value" id="share">
              <p class="title"><img src="assets/share.jpg" alt="share" width="36" heigth="38" /><span>分享</span></p>
              <p class="subtitle">分享关于手工的一切</p>
              <p class="explain">简单快捷的分享你的手工作品、博文和话题，交流想法和经验，并找到欣赏者。</p>
            </td>
            <td class="value" id="grow">
              <p class="title" id="grow"><img src="assets/grow.jpg" alt="grow" width="36" height="38" /><span>成长</span></p>
              <p class="subtitle">成长为手工达人</p>
              <p class="explain">获得乐趣和朋友之余，你还可以销售你的作品，建立你的个人风格和品牌。</p>
            </td>
          </tr>
        </table><!--introduction -->
        <div id="apply">
          <p class="slogan">归巢？一起筑巢！</p>
          <p class="detail">第一个社交化手工爱好者社区即将诞生！<br />
          欢迎手工爱好者第一时间归巢！</p>
          <input type="submit" value="申请邀请码" class="button" id="applyButton" />
        </div><!-- apply -->
      </div><!-- content -->
      <div id="craftsman"></div>
      <div id="footer">
        <small id="copyright">Copyright@sokoge.com 2011, All Right Reserved</small>
        <small id="links"><a href="/about">关于手工客<a/>  <a href="join">加入我们</a></small>
          </div><!-- footer -->
        </div><!-- wrapper -->
        <div class="popover">
          <div class="content" id="request">
            <img src="assets/popoverClose.png" class="requestClose" />
            <div class="detail">
              <h4 class="title">申请邀请码</h4>
              <p class="caution">手工客内测中，并不对外开放，但我们欢迎对网站感兴趣的朋友加入！</p>
			
			  <%= form_for @artist, html: {class: "request"} do |f| %>
				<fieldset>
				<%= f.label "昵称", class: "nickname" %>
			  	<%= f.text_field :name, class: "nickname", placeholder: "你的真实姓名，或网络昵称" %><br />
				<%= f.label "头像", class: "avatar" %>
			  	<%= f.file_field :avatar, class: "avatar" %><br />
				<%= f.label "邮箱", class: "email" %>
			  	<%= f.text_field :email, class: "email", placeholder: "你的常用邮箱地址，注册了就不能更改" %><br />
				<%= f.label "自我介绍", class: "selfIntro" %>
				<%= f.text_area :description, class: "selfIntro", placeholder: "介绍自己，让我们了解你，可以加上你常去的论坛ID，淘宝店铺、博客地址、微博等等" %><br />
				<%= f.submit "申请邀请码", class: "button" %>
				<fieldset>
			  <% end -%>

            </div><!-- detail -->
          </div><!-- content request -->
          <div class="content" id="feedback">
            <p class="success"><img src="assets/smileIcon.png"><span>申请成功</span></p> 
            <p class="email">你的电子邮箱：<span class="text"><%= flash[:notice] %></span></p> 
            <p class="thanks">我们会在第一时间将邀请码发送至你的邮箱，感谢你的支持和关注！</p>
            <img class="feedbackClose" src="assets/popoverClose.png" alt="" />  
          </div><!-- content feedback -->
        </div><!-- popover -->